!-----------------------------------------------------------------------------
! Sources
!-----------------------------------------------------------------------------

#include ".rxvt-colors"
#include ".rxvt-fonts"
#include ".rxvt-perl"

!-----------------------------------------------------------------------------
! Main options
!-----------------------------------------------------------------------------

Rxvt*termName: rxvt-unicode-256color
Rxvt*scrollBar: false
Rxvt*saveLines: 1024 
!Rxvt*buffered: true
!Rxvt*cursorBlink: true
!Rxvt*cursorUnderline: true
Rxvt*pointerBlank: true


!-----------------------------------------------------------------------------
! Visual settings
!-----------------------------------------------------------------------------

Rxvt*geometry: 80x24 
Rxvt*fading: 45 

! True transparency
!Rxvt*depth: 32
!Rxvt*background: rgba:3f00/3f00/3f00/dddd
!Rxvt*background: [95]#000000
!Rxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
!Rxvt*shading: 30 

! Native transparency
!Rxvt*inheritPixmap: true
!Rxvt*transparent: true
! URxvt*shading: 0 to 99 darkens, 101 to 200 lightens
!Rxvt*shading: 17 


!-----------------------------------------------------------------------------
! Binds
!-----------------------------------------------------------------------------

! PrintScreen to dump in file
Rxvt*print-pipe:  cat > $HOME/dump/$(echo rxvt.dump.$(date +'%Y%M%d%H%m%S'))

! Fix for Home and End keys
URxvt.keysym.Home: \033[1~
URxvt.keysym.End: \033[4~
URxvt.keysym.KP_Home: \033[1~
URxvt.keysym.KP_End:  \033[4~

! change to red background
URxvt.keysym.C-7: command:\033]11;#ff0000\007
! change to light background
URxvt.keysym.C-8: command:\033]11;#ffffff\007
! change to dark gray background
URxvt.keysym.C-9: command:\033]11;#777777\007
